.Team {
  position: absolute;
  width: var(--box-team-width);
  height: var(--box-height);
  bottom: var(--champselect-margin-bot);

  .TeamName {
    font-size: 40px;
    color: white;
    font-family: "industry";
    margin-top: 5px;

    &.WithoutCoaches {
      font-size: 60px;
      margin-top: 2px;
    }
  }

  .CoachName {
    font-size: 20px;
    margin-top: -20px;
  }

  .TeamScore {
    font-size: 60px;
    margin-top: -20px;
    color: white;
    width: var(--box-ban-height);
    text-align: center;
    height: calc(100% + 23px);
  }

  @import "./picks";
  @import "./bans";

  &.TeamBlue {
    right: calc(50% + calc(var(--box-width) / 2));
  }

  &.TeamRed {
    left: calc(50% + calc(var(--box-width) / 2));

    .Picks {
      flex-direction: row-reverse;
    }

    .BansWrapper {
      display: flex;
      justify-content: flex-end;
    }

    .Bans {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    .BansBox {
      flex-direction: row-reverse;
    }

    .TeamName {
      margin-left: auto;
      text-align: right;
      margin-right: 15px;
    }
  }
} 